@font-face {
    font-family: Gelion;
    src: local("Gelion"), local("Gelion-Bold"),
    url(/fonts/Gelion-Bold.woff2) format("woff2"), url(/fonts/Gelion-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Gelion;
    src: local("Gelion Medium"), local("Gelion-Medium"),
    url(/fonts/Gelion-Medium.woff2) format("woff2"), url(/fonts/Gelion-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Gelion;
    src: local("Gelion Regular"), local("Gelion-Regular"),
    url(/fonts/Gelion-Regular.woff2) format("woff2"), url(/fonts/Gelion-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gelion;
    src: local("Gelion Light"), local("Gelion-Light"),
    url(/fonts/Gelion-Light.woff2) format("woff2"), url(/fonts/Gelion-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Mistral;
    src: local("Mistral"),
    url(/fonts/MISTRAL.woff2) format("woff2"), url(/fonts/MISTRAL.woff) format("woff");
}


@font-face {
    font-family: Product Sans;
    src: local("Product Sans Bold"), local("ProductSans-Bold"),
    url(/fonts/Product-Sans-Bold.woff2) format("woff2"), url(/fonts/Product-Sans-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Product Sans;
    src: local("Product Sans Regular"), local("ProductSans-Regular"),
    url(/fonts/Product-Sans-Regular.woff2) format("woff2"), url(/fonts/Product-Sans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FreeStyle-Script;
    src: local("FreeStyle-Script Regular"), local("FreeStyle-Script-Regular"),
    url(/fonts/FREESCPT.woff2) format("woff2"), url(/fonts/FREESCPT.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
